.wp-block-pulsar-accordion {

	.block-list-appender {
		left: 0;
		right: 0;
		bottom: -56px;
		display: none;
	}

	&.is-selected,
	&.has-child-selected {
		padding-bottom: 56px;

		.block-list-appender {
			display: block;
		}
	}
}
