.wp-block-pulsar-accordion-item {
	border: 1px solid #e6e6e6 !important;

	& + & {
		margin-top: 1rem;
	}

	&__title {
		margin: 0;
		font-size: 20px !important;
	}

	&__button {
		padding: 1rem 1.5rem !important;
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
	}

	&__text {
		text-align: left;
	}

	&__icon {
		margin-left: 1rem;
	}

	&__container {}

	&__content {
		padding: 0 1.5rem 1rem;
	}
}
