/**
 * The following styles get applied inside the editor only.
 *
 */

.wp-block-pulsar-carousel {
	visibility: visible;
}

.insert-slide {
	width: 100%;
	display: flex;
	justify-content: center;
}

.inspector-controls {
	.__animation {
		margin-top: 10px;
	}

	.__animation,
	.__breakpoints,
	.__slides-per-page,
	.__per-move,
	.__gap,
	.__focus {
		display: block;
		width: 100%;
		margin-bottom: 20px;
	}

	.__animation,
	.__breakpoints,
	.__focus {
		> .__button-group {
			display: flex;
			* {
				flex-grow: 1;
				justify-content: center;
			}
		}
	}

	.__focus {
		> .__range-control {
			margin-top: 15px;
		}
	}
}
